sentence-transformers
openai
groq
fastapi

langchain
langchain-community
langchain-core
langchainhub

PyMuPDF
unstructured
python-docx

faiss-cpu
python-dotenv

tqdm
requests
pandas
rich

fastapi
uvicorn
